.chat__msg {
  position: relative;
  width: fit-content;
  font-size: 16px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 10px;
}

.chat__receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat__name {
  font-size: 14px;
  position: relative;
  font-weight: 800;
}

.chat__timestamp {
  font-size: 11px;
}

.chat__receiver__timestamp {
  margin-left: auto;
}
