.chat_msg {
  /* position: relative; */
  width: fit-content;
  padding: 14px;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 20px;
  background-color: white;
}

.chat_msg_receiver {
  margin-left: auto;
  background-color: #dcf8c6;
}

.chat_msg_name {
  font-size: 14px;
  position: relative;
  font-weight: 700;
}

.chat_msg_body {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 500px;
  word-wrap: break-word;
}
.chat_msg_timestamp {
  font-size: 11px;
}

.chat_msg_receiver_timestamp {
  margin-left: auto;
}
