.side_panel {
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.side_panel_top_bar {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  height: 35px;
  border-right: 1px solid lightgray;
}

.side_panel_top_bar_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 10vw;
}

.side_panel_top_bar_right > .MuiSvgIcon-root {
  margin-left: 2vw;
  font-size: 24px !important;
}

.side_panel_search_bar {
  display: flex;
  align-items: center;
  height: 35px;
  padding: 10px;
  background-color: lightgray;
}

.side_panel_input {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  border-radius: 20px;
  background-color: white;
}

.side_panel_input > .MuiSvgIcon-root {
  color: gray;
  padding: 10px;
}

.side_panel_input > input {
  width: 75%;
  border: none;
  margin-left: 10px;
  outline-width: 0px;
}

.side_panel_chats {
  flex: 1;
  background-color: rgb(0, 168, 132);
  height: 100%;
  overflow: scroll;
}
