.chatbox {
  display: flex;
  flex-direction: column;
  flex: 0.65;
}

.chatbox__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 44px;
  border-bottom: 1px solid lightgray;
}

.chatbox__header__left {
  display: flex;
}

.chatbox__header__title {
  margin-left: 15px;
}

.chatbox__header__title > h3 {
  font-size: 18px;
  margin-bottom: 3px;
}

.chatbox__header__title > p {
  color: gray;
  font-size: 14px;
}

.chatbox__header__right {
  margin-top: -6px;
}

.chatbox__header__right > .MuiSvgIcon-root {
  color: gray;
}

.chatbox__body {
  flex: 1;
  background-image: url(https://th.bing.com/th/id/OIP.8D_W8yiWTVqa3J0bNdag0gHaPm?pid=ImgDet&rs=1);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.chatbox__input {
  display: flex;
  align-items: center;
  background-color: rgb(190, 189, 189);
  height: 28px;
  padding: 20px;
}

.chatbox__input > .MuiSvgIcon-root {
  color: lightgray;
  padding: 10px;
}

.chatbox__input__msg {
  display: flex;
  background-color: white;
  border-radius: 20px;
  height: 40px;
  width: 100%;
  align-items: center;
}

.chatbox__input__msg > form {
  flex: 1;
  display: flex;
}

.chatbox__input__msg > form > input {
  height: 32px;
  font-size: 16px;
  border: none;
  margin-left: 10px;
  outline-width: 0px;
  width: 90%;
}

.online {
  color: green;
  margin-right: 5px;
  font-size: 8px;
}
